<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>UIUIUIUI</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">
    <link rel="stylesheet" href="/assets/css/default.css">
    <link rel="stylesheet" href="/assets/css/slick.css">
    <link rel="stylesheet" href="/assets/css/slick-theme.css">
    <link rel="stylesheet" href="/assets/css/a.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.min.js"></script>
    <script src="/assets/js/Chart.min.js"></script>
    <script src="/assets/js/angular-chart.min.js"></script>
    <script src="/assets/js/slick.min.js"></script>
    <script src="/assets/js/angular-slick.min.js"></script>
    <script src="/assets/js/ko-kr.js"></script>
    <script src="/assets/js/default.js"></script>
    <script src="/assets/js/a.js"></script>
</head>
<body ng-app="myAver">
    <header>
    </header>
    <div class="mainWrap">
        <section class="skillSec" ng-controller="skillApp">
            <div class="secWrap">
                <div class="skillBtnArea">
                    <h2 class="secTtl">About Me</h2>
                    <div class="cate cate01">
                        <h4 class="cateName">Skill</h4>
                        <div class="cateSub CS01">
                            <a class="skillBtn" ng-click="isShow = 0">Radal chart</a>
                            <a class="skillBtn" ng-click="isShow = 1">Bar chart</a>
                            <a class="skillBtn" ng-click="isShow = 2">Onepiece</a>
                        </div>
                    </div>
                    <div class="cate cate02">
                        <h4 class="cateName"><a ng-click="isShow = 3">Profile</a></h4>
                    </div>
                    <div class="cate cate02">
                        <h4 class="cateName"><a ng-click="isShow = 4">Career</a></h4>
                    </div>
                </div>
                <div class="skillViewArea">
                    <div class="viewArea">
                        <div ng-controller="radarCht" ng-show="isShow == 0">
                            <canvas id="radar" class="chart chart-radar" chart-data="data" chart-options="options" chart-labels="labels"></canvas>
                        </div>
                        <div ng-controller="barCht" ng-show="isShow == 1">
                            <canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series"></canvas>
                        </div>
                    </div>
                    <div class="infoArea" ng-show="isShow < 2">
                        <ul class="infoList">
                            <li class="infoItem">
                                <h3 class="itemTtl dspI">UI</h3>
                                <h4 class="itemTxt dspI">설명설명설명 설명설명설명 설명설명설명 설명설명설명</h4>
                            </li>
<!--
                            <li class="infoItem">
                                <h3 class="itemTtl dspI">UI</h3>
                                <h4 class="itemTxt dspI">설명설명설명 설명설명설명 설명설명설명 설명설명설명 </h4>
                            </li>
                            <li class="infoItem">
                                <h3 class="itemTtl dspI">UI</h3>
                                <h4 class="itemTxt dspI">설명설명설명 설명설명설명 설명설명설명 설명설명설명 </h4>
                            </li>
                            <li class="infoItem">
                                <h3 class="itemTtl dspI">UI</h3>
                                <h4 class="itemTxt dspI">설명설명설명 설명설명설명 설명설명설명 설명설명설명 </h4>
                            </li>
                            <li class="infoItem">
                                <h3 class="itemTtl dspI">UI</h3>
                                <h4 class="itemTxt dspI">설명설명설명 설명설명설명 설명설명설명 설명설명설명 </h4>
                            </li>
                            <li class="infoItem">
                                <h3 class="itemTtl dspI">UI</h3>
                                <h4 class="itemTxt dspI">설명설명설명 설명설명설명 설명설명설명 설명설명설명 </h4>
                            </li>
                            <li class="infoItem">
                                <h3 class="itemTtl dspI">UI</h3>
                                <h4 class="itemTxt dspI">설명설명설명 설명설명설명 설명설명설명 설명설명설명 </h4>
                            </li>
                            <li class="infoItem">
                                <h3 class="itemTtl dspI">UI</h3>
                                <h4 class="itemTxt dspI">설명설명설명 설명설명설명 설명설명설명 설명설명설명 </h4>
                            </li>
-->
                        </ul>
                    </div>
                    <div ng-show="isShow == 2">
                        <h2>
                            프로필
                        </h2>
                    </div>
                    <div ng-show="isShow == 3">
                        <h2>
                            프로필
                        </h2>
                    </div>
                    <div ng-show="isShow == 4">
                    </div>
                </div>
            </div>
        </section>
        <section class="slideSec">
            <div class="secWrap" ng-controller="SlickController">
                <slick class="secSlide" settings="slickConfig2">
                    <div class="slideItem">
                        <img src="/assets/img/po01.png">
                    </div>
                    <div class="slideItem">
                        <img src="/assets/img/po02.png">
                    </div>
                    <div class="slideItem">
                        <img src="/assets/img/po03.png">
                    </div>
                    <div class="slideItem">
                        <img src="/assets/img/po04.png">
                    </div>
                    <div class="slideItem">
                        <img src="/assets/img/po05.png">
                    </div>
                    <div class="slideItem">
                        <img src="/assets/img/po06.png">
                    </div>
                    <div class="slideItem">
                        <img src="/assets/img/po07.png">
                    </div>
                    <div class="slideItem">
                        <img src="/assets/img/po08.png">
                    </div>
                    <div class="slideItem">
                        <img src="/assets/img/po09.png">
                    </div>
                </slick>
            </div>
        </section>
        <section class="qnaSec">
            <div class="secWrap">
                <ul class="qnaList">
                    <li class="qnaItem">
                        <h3 class="qnaTtl" ng-click="onQna = 1">3개국어 가능한가요?</h3>
                        <div class="qnaTxt" ng-show="onQna == 1">
                            아닙니다. 그러나 신에겐 12개국어 문서도 두렵지 않을 구글번역기가 있사옵니다.
                        </div>
                    </li>
                    <li class="qnaItem">
                        <h3 class="qnaTtl" ng-click="onQna = 1">3개국어 가능한가요?</h3>
                        <div class="qnaTxt" ng-show="onQna == 1">
                            아닙니다. 그러나 신에겐 12개국어 문서도 두렵지 않을 구글번역기가 있사옵니다.
                        </div>
                    </li>
                    <li class="qnaItem">
                        <h3 class="qnaTtl" ng-click="onQna = 1">3개국어 가능한가요?</h3>
                        <div class="qnaTxt" ng-show="onQna == 1">
                            아닙니다. 그러나 신에겐 12개국어 문서도 두렵지 않을 구글번역기가 있사옵니다.
                        </div>
                    </li>
                    <li class="qnaItem">
                        <h3 class="qnaTtl" ng-click="onQna = 1">3개국어 가능한가요?</h3>
                        <div class="qnaTxt" ng-show="onQna == 1">
                            아닙니다. 그러나 신에겐 12개국어 문서도 두렵지 않을 구글번역기가 있사옵니다.
                        </div>
                    </li>
                </ul>
            </div>
        </section>
    </div>
</body>
</html>