@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

@keyframes Glitter {
  form{
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes intro {
  form{
    opacity: 1;
  }
  75%{
    opacity: 0;
    transform:rotateX(90deg);
    left:0;
  }
  to {
    left:100%;
    transform:rotateX(90deg);
  }
}
@keyframes toTransparent {
  form{
    background-color: rgba($color: #fff, $alpha: .7);
  }
  to {
    background-color: rgba($color: #fff, $alpha: 0);
  }
}