.video-background{background: #000;position: fixed;top: 0; right: 0; bottom: 0; left: 0;z-index: -99;}
.video-foreground, .video-background iframe{position: absolute;top: 0;left: 0;width: 100%;height: 100%;pointer-events: none;}
header{position: absolute;top:0;left:0;z-index: 20;width:100%;border-bottom:1px solid #727272}
.headWrap{max-width: 1200px;margin:0 auto;}
.menuList{font-size:0;padding:0}
.menuItems{list-style: none;display:inline-block;text-align:center;color:#fff;}
.menuItems a{font-size:15px;display:inline-block;padding:1rem;transition: 0.9s;color: #fff;}
.menuItems a.onItem{border-bottom:3px solid #ffbe16;color:#ffbe16}
.menuItems a:hover{color:cyan;}
.menuItems.wd40{width:40%;margin-right:15%;}
.menuItems.wd20{width:15%;}  
.opDiv{position:absolute;top:0;left:0;height:100%;width:100%;background:black;opacity: 0.6;text-align:center;}
.textDiv{font-size:35px;position:absolute;right:3rem;bottom:3rem;padding:1.5rem;border:4px double #ddd}
.linkDiv{position:absolute;font-size:25px;width:100%;text-align:center;top:40%;left:0;}
.btnArea a{color:#fff;text-decoration:none;}
.linkDiv a{display:inline-block;margin:0 3rem;padding:0.5rem;border-bottom:2px outset #fff;}
footer{position:fixed;bottom:0;left:0;width:100%;background:#555;color:#aaa;text-align:center;padding:0.5rem 0;box-sizing:border-box}
.footLeftArea{display:inline-block;max-width:200px;width:100%;}
.cursp{cursor: pointer;}
#kakao-link-btn{background: none;border: 0;width: 18px;height: 18px;padding: 0;vertical-align: bottom;}
#kakao-link-btn img{width:100%;height:100%;}
.youClr{color:#ff0000}
.wClr{color:#fff;}
.subArea{position:absolute;top:52px;max-height:calc( 100% - 87px );left:0;width:100%;overflow-y:auto}

.subArea::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.subArea::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.subArea::-webkit-scrollbar-thumb
{
	background-color: #ffbe16;
}
.subWrap{max-width:1100px;margin:1rem auto;padding:3rem;background-color:rgba(0,0,0,0.7); }
.secTitle{margin-top:0;border-left:5px ridge #ffbe16;line-height:1;padding-left:2rem}
.mgb0{margin-bottom:0}
.radarWrap{width:50%;display: inline-block;vertical-align: top;box-sizing: border-box}
.isSkTxt{padding:0 2rem;float:right;}
.isSkTxt h2{margin:0 0 2rem;word-wrap: break-word;word-break: keep-all}
.slick-prev, .slick-next{width:30px;height:30px;}
.slick-prev{left:-30px;}
.slick-next{right:-30px;}
.slick-prev:before, .slick-next:before{font-family: "Font Awesome\ 5 Free";font-size:30px}
.slick-prev:before{content:"\f191"}
.slick-next:before{content:"\f152"}
.slick-dots li button{background:white;border-radius: 17px;margin:1.5px auto;font-size:0;width:17px;height:17px;transition:.4s}
.slick-dots li.slick-active button{background:#ffbe16; width:25px}
.slideItem{padding:0.25rem;box-sizing: border-box;transition:0.5s;}
.slideItem:hover{background-color:#ffbe16}
.slideItem img{max-width:100%;margin:0 auto}
.sItemTxt{background:#7790d4;padding:0.5rem;border-radius: 0 0 15px 0}
.sItemTxt.yr2015{background:#697fbb;}
.sItemTxt.yr2016{background:#526494;}
.sItemTxt.yr2017{background:#435279;}
.sItemTxt.yr2018{background:#484c71;}
.sItemTxt.yr2019{background:#23274a;}
.sItemTxt.yr2020{background:#2f324c;}
.sItemTxt *{margin:0.5rem 0;}
.tagBox{padding-left:20px;margin-top:20px;}
.tagBox span{margin-left:10px;}
.tagBox span:before{content:"#"}
.mailArea{text-align:right;}
.mailArea h2{margin-bottom:0.5rem}
.mailArea h4{margin-top:0.5rem}
.mailArea a{color:#fff}

.video-foreground{background:url(../img/chrome.jpg) no-repeat 50% 50%;background-size: cover}
@media (min-aspect-ratio: 16/9) {
    .video-foreground { height: 330%; top: -115%; }
}
@media (max-aspect-ratio: 16/9) {
    .video-foreground { width: 330%; left: -115%; }
}
@media screen and (min-width: 800px) and (min-height: 860px){
    .isMo{display:none !important;}
}
@media screen and (max-width: 800px) and (max-height: 860px){
    .isPc{display:none !important;}
    .textDiv{margin-top:3rem;position:static;display:inline-block;}
}
@media screen and (max-width: 1120px){
    .radarWrap{width:80%;display:block;margin:0 auto;}
    .isSkTxt{float:none;width:100%;}
}
@media screen and (max-width: 620px){
    .subArea{position:absolute;top:48px;max-height:calc( 100% - 99px );left:0;width:100%;overflow-y:auto}
    .radarWrap{width:100%}
    .isSkTxt{font-size:12px;}
    .textDiv{font-size:20px}
    .menuItems.wd40{width:17%;margin-right:8%;}
    .menuItems.wd20{width:25%;}
    .menuItems a{font-size:13px;padding:1rem 0.5rem}
    .subWrap{padding:1rem;background-color:rgba(0,0,0,0.4);}
    footer{font-size: 30px;}
    #kakao-link-btn{width:30px;height:30px;}
}
@media screen and (max-width: 420px){
    .textDiv{font-size:15px}
}